.card {
  border: 1px solid var(--ligthGrey);
  background: var(--whiteColor);
}
.card-notification-followers {
  background: white;
  border-radius: 5px;
  padding: 15%;
  @include showdown;
  width: 100%;
}

.card-notifications {
  border: 1px solid var(--ligthGrey);
  background: var(--whiteColor);
}

.card-list-avatars {
  @include flexbox-flex-start;
  .item-avatar {
    text-align: center;
    padding: 8px;
  }
}

.card-publication {
  .card-head {
    @include flexbox-space-between;
    @include bottomLine;
    padding: 15px;
    .avatar {
      display: flex;
      cursor: pointer;
      .username {
        margin-left: 15px;
        margin-top: 7px;
        text-align: center;
        vertical-align: middle;
      }
    }
    .menu {
      cursor: pointer;
      margin-top: 10px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .card-content {
    @include bottomLine;
    img {
      width: 100%;
    }
  }
  .card-footer {
    padding: 15px;
    @include flexbox-space-between;
    .actions-icons {
      display: grid;
      gap: 1em;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
