// Flexbox Container
@mixin flexbox-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin flexbox-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flexbox-flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin grid-responsive-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

// Showdowns
@mixin showdown {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 2px 10px rgba(0, 0, 0, 0.12);
}

// lines
@mixin bottomLine {
  border-bottom: 1px solid var(--ligthGrey);
}

// `source /home/juanfer/.rvm/scripts/rvm`
